body {
  max-width: 1440px;
  width: 95%;
  margin: auto;
  font-family: "Raleway", sans-serif;
}
a:link {
  text-decoration: none;
}
#trv h1 {
  margin: 0;
}
h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
/*header*/
header {
  margin-left: 55px;
}
#ad {
  display: flex;
  justify-content: space-between;
}
#trv {
  margin-top: 63px;
}
.p4 {
  margin: 0;
  margin-top: 8px;
  font-weight: 400;
  font-size: 18px;
  color: black;
}
a {
  width: 100%;
  color: black;
}
em {
  font-weight: 600;
}
span {
  color: #0065fc;
  font-size: 12px;
}
/*nav*/
.fa-solid.fa-info {
  color: #0065fc;
  border: solid 1px #d9d9d9;
  border-radius: 20px 20px 20px 20px;
  width: 20px;
  display: flex;
  justify-content: space-around;
}
.p3 {
  font-weight: 400;
  display: flex;
  margin-left: 4px;
}

button {
  background-color: #0065fc;
  border-radius: 0px 20px 20px 0px;
  color: #f2f2f2;
  font-weight: 700;
  border: solid 0px;
  width: 132px;
  margin: auto;
}

#logonav {
  display: flex;
  padding-top: 44px;
}
header nav {
  display: flex;
  justify-content: flex-end;
}

ul {
  display: flex;
  list-style-type: none;
  font-weight: 500;
  gap: 67px;
  padding-right: 77px;
  margin: 0;
}
li {
  border-top: solid 2px;
  color: white;
  padding-top: 46px;
}

li:hover {
  border-top: solid 2px;
  color: #0065fc;
  padding-top: 44px;
}
/*barre de recherche*/
#barre_de_recherche {
  display: flex;
  width: 400px;
  margin-top: 20px;
}
#icone_de_recherche {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  border: 1px solid #f2f2f2;
}
input {
  width: 232px;
  padding-left: 17px;
  border: none;
  border: 1px solid #f2f2f2;
  font-weight: 700;
}

#button_search {
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: 50px;
  background-color: blue;
  justify-content: space-around;
  border-radius: 0px 15px 15px 0px;
}
/*filtres*/
#Filtre {
  display: flex;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 36px;
  margin-left: 7px;
}
#titre_nav {
  margin-right: 20px;
}
.reg {
  display: flex;
  align-items: center;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  margin-right: 20px;
  height: 50px;
  padding-right: 15px;
  font-weight: 700;
}
.reg span {
  color: black;
  font-size: 17px;
}

.reg:hover {
  background-color: #deebff;
}
.ico {
  color: #0065fc;
  padding: 10px;
}

#top {
  display: flex;
  margin: auto;
  width: 93%;
  gap: 40px;
}

/*herbergement*/
#hebe {
  flex: 75%;
  border-radius: 20px;
  background-color: #f2f2f2;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px;
}
#hebe img {
  height: 124px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  width: 100%;
}

#hebe article {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex: 30%;
  box-shadow: 0px 0px 20px 0px black;
}

#hebe h2 {
  flex: 100%;
  margin: 0;
}

#hebe h3 {
  margin: 0;
}
#hebe p {
  margin: 0;
}

#hebe figure {
  background-size: cover;
  margin: 0;
  border: solid white 5px;
  border-radius: 20px;
}

#hebe figcaption {
  margin-left: 16px;
}

#plus {
  font-weight: 700;
  font-size: 20px;
}

/* les plus populaire*/
.title_pop {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.fa-solid.fa-chart-line {
  color: #0065fc;
}
aside {
  flex: 32.5%;
  border-radius: 20px;
  background-color: #f2f2f2;
  display: flex;
  gap: 33px;
  flex-direction: column;
  padding: 40px;
}

aside img {
  height: 144px;
  border-radius: 20px 0px 0px 20px;
  flex: 38%;
}

aside article {
  background-color: white;
  border-radius: 20px;
  display: flex;
  box-shadow: 0px 0px 20px 0px black;
}
aside figure {
  display: flex;
  height: 144px;
  margin: 0;
  border: solid white 5px;
  border-radius: 20px;
}

aside figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 65%;
  padding-left: 15px;
}
aside h2 {
  margin: 0px;
}
aside h3 {
  margin-top: 16px;
}

/* Acivités*/
#Activités_card article {
  border-radius: 20px;
  background-color: #f2f2f2;
  display: flex;
  flex: 50%;
  box-shadow: 0px 0px 20px 0px black;
}

#Activités_card img {
  width: 100%;
  height: 389px;
  display: flex;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

#Activités_card {
  display: flex;
  gap: 43px;
}
#Activités_card figure {
  margin: 0;
}
#Activités_card figcaption {
  margin-left: 19px;
}
#Activités {
  margin-top: 60px;
  width: 93%;
  margin: auto;
  margin-top: 50px;
}

/*footer*/
footer {
  background-color: #f2f2f2;
  margin: auto;
  margin-top: 61px;
  width: 93%;
}

.foot {
  display: flex;
  padding-top: 45px;
  margin-left: 70px;
  width: 100%;
  padding-bottom: 51px;
}
.foot div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 239px;
}
.foot h4 {
  margin-top: 0;
}
.foot p {
  margin: 0;
}
