body {
  max-width: 1400px;
  width: 95%;
  margin: auto;
  font-family: "Raleway", sans-serif;
}
a:link {
  text-decoration: none;
}
h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
/*header*/
header {
  margin: auto;
  width: 95%;
}
/*nav*/
.fa-solid.fa-info {
  color: #0065fc;
  border: solid 1px #d9d9d9;
  border-radius: 20px 20px 20px 20px;
  width: 24px;
  display: flex;
  justify-content: space-around;
  margin-right: 1%;
}
.p3 {
  font-weight: 400;
  display: flex;
}

button {
  background-color: #0065fc;
  border-radius: 0px 20px 20px 0px;
  color: #f2f2f2;
  font-weight: 700;
  border: solid 0px;
  width: 132px;
  margin: auto;
}

#logonav {
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2%;
}
ul {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-weight: 500;
}

li:hover {
  border-block-start: solid;
  color: #0065fc;
  padding-top: 5%;
}
/*barre de recherche*/
#barre_de_recherche {
  display: flex;
  width: 400px;
}
#icone_de_recherche {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  border: 1px solid #f2f2f2;
}
input {
  width: 232px;
  padding-left: 17px;
  border: none;
  border: 1px solid #f2f2f2;
}

#button_search {
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: 50px;
  background-color: blue;
  justify-content: space-around;
  border-radius: 0px 15px 15px 0px;
}
/*filtres*/
#Filtre {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
}
#titre_nav {
  margin-right: 20px;
}
.reg {
  display: flex;
  align-items: center;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  margin-right: 20px;
  height: 50px;
  padding-right: 15px;
}
.reg:hover {
  background-color: #deebff;
}
.ico {
  color: #0065fc;
  padding: 10px;
}

#top {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 95%;
  justify-content: center;
  height: 626px;
}

/*herbergement*/
#hebe {
  flex: 50%;
  border-radius: 20px;
  max-width: 880px;
  margin-right: 40px;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#hebe img {
  width: 18.2vh;
  max-width: 235px;
  height: 124px;
  margin: auto;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

#hebe article {
  background-color: white;
  border-radius: 20px;
  width: 26.9%;
  height: 32%;
  display: flex;
}

#hebe h2 {
  flex: 100%;
  margin-left: 3%;
}

#hebe h3 {
  margin: 0;
}
#hebe p {
  margin: 0;
}

#hebe figure {
  margin: 0;
  background-size: cover;
}

#hebe figcaption {
  margin-left: 7%;
}

/* les plus populaire*/
.title_pop {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.fa-solid.fa-chart-line {
  color: #0065fc;
}
aside {
  flex: 20%;
  max-width: 420px;
  border-radius: 20px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
}

aside img {
  width: 137px;
  height: 144px;
  border-radius: 20px 0px 0px 20px;
}

aside article {
  background-color: white;
  width: 343px;
  height: 144px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
aside figure {
  display: flex;
  width: 343px;
  height: 144px;
  margin-top: auto;
}
aside section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

aside figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
aside h2 {
  margin: 0px;
}
aside h3 {
  margin-top: 16px;
}
#populaires {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* Acivités*/
#Activités_card article {
  width: 22%;
  border-radius: 20px;
  background-color: #f2f2f2;
}

#Activités_card img {
  width: 100%;
  height: 389px;
  display: flex;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

#Activités_card {
  display: flex;
  justify-content: space-evenly;
}
#Activités_card figure {
  margin: auto;
}
#Activités_card figcaption {
  margin-left: 19px;
}
#Activités {
  margin-top: 60px;
  background-color: rebeccapurple;
  width: 95%;
  margin: auto;
}
#Activités h2 {
  margin-left: 50px;
}

/*footer*/
footer {
  background-color: #f2f2f2;
  width: 1339px;
  height: 225px;
  margin: auto;
}

.foot {
  display: flex;
  padding-top: 2%;
  margin-left: 5.1%;
}
.foot div {
  margin-right: 22%;
  white-space: nowrap;
}
