body {
  max-width: 1400px;
  width: 95%;
  margin: auto;
  font-family: "Raleway", sans-serif;
}
a:link {
  text-decoration: none;
}
#trv h1 {
  margin: 0;
}
.p3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 30px 0px;
  align-items: center;

  display: flex;

  color: black;
}

.p3 .icone {
  border: solid 1px #d9d9d9;
  border-radius: 15px;
  padding: 5px;
  display: flex;
  width: 15px;
  justify-content: center;
}
.p3 p {
  padding: 5px 15px;
}

/*header*/
header {
  width: 95%;
  margin: auto;
}
#ad {
  display: flex;
  justify-content: space-between;
}
#trv {
  margin-top: 63px;
}
.p4 {
  margin: 0;
  margin-top: 8px;
  font-weight: 400;
  font-size: 18px;
  color: black;
}
a {
  width: 100%;
  color: black;
}
em {
  font-weight: 600;
}
span {
  color: #0065fc;
  font-size: 12px;
}
/*nav*/
.fa-solid.fa-info {
  color: #0065fc;
  font-size: 13px;
  vertical-align: middle;
}

button {
  background-color: #0065fc;
  border-radius: 0px 20px 20px 0px;
  color: #f2f2f2;
  font-weight: 700;
  border: solid 0px;
  width: 132px;
  margin: auto;
}

#logonav {
  display: flex;
  padding-top: 44px;
}
header nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  display: flex;
  list-style-type: none;
  font-weight: 500;
  gap: 67px;
  margin: 0;
}
.nav {
  border-top: solid 2px;
  color: transparent;
  padding-top: 46px;
  padding-left: 20px;
  padding-right: 20px;
}
.nav a:hover {
  color: #0065fc;
}
.nav:hover {
  border-top: solid 2px #0065fc;
}
/*barre de recherche*/
#barre_de_recherche {
  display: flex;
  width: 400px;
  margin-top: 20px;
}
#icone_de_recherche {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  border: 1px solid #f2f2f2;
}
input {
  width: 232px;
  padding-left: 17px;
  border: none;
  border: 1px solid #f2f2f2;
  font-weight: 700;
}

#button_search {
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: 50px;
  background-color: blue;
  justify-content: space-around;
  border-radius: 0px 15px 15px 0px;
}
/*filtres*/
#submit_icone {
  display: none;
}
#Filtre {
  display: flex;
  align-items: center;
  margin-top: 28px;
  gap: 36px;
  margin-left: 7px;
  flex-wrap: wrap;
}
#titre_nav {
  font-weight: bold;
  font-size: 21px;
}

.reg {
  display: flex;
  align-items: center;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  height: 50px;
  font-weight: 700;
  flex: 0 auto;
}

.reg p {
  padding-right: 15px;
  white-space: nowrap;
}

.reg:hover {
  background-color: #deebff;
  cursor: pointer;
}
.ico {
  color: #0065fc;
  padding: 10px;
}

#top {
  display: flex;
  margin: auto;
  width: 95%;
  gap: 40px;
}

/*herbergement*/
#hebe {
  flex: 65%;
  border-radius: 20px;
  background-color: #f2f2f2;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px;
}
#hebe img {
  height: 124px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  width: 100%;
}

#hebe article {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex: 30%;
  box-shadow: 0px 0px 20px 0px #666464;
}

#hebe h2 {
  flex: 100%;
  margin: 0;
  font-size: 20px;
}

#hebe h3 {
  margin: 0;
  font-size: 15px;
}
#hebe p {
  margin: 0;
  flex: 100%;
}

#hebe figure {
  background-size: cover;
  margin: 0;
  border: solid white 5px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

#hebe figcaption {
  margin-left: 16px;
  margin-top: 5px;
}

#plus {
  font-weight: 700;
  font-size: 20px;
}

/* les plus populaire*/
.title_pop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-solid.fa-chart-line {
  color: #0065fc;
}
aside {
  flex: 30%;
  border-radius: 20px;
  background-color: #f2f2f2;
  display: flex;
  gap: 33px;
  flex-direction: column;
  padding: 40px;
}

aside img {
  height: 144px;
  border-radius: 20px 0px 0px 20px;
  flex: 38%;
  width: 30%;
  object-fit: cover;
}

aside article {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px #666464;
}
aside figure {
  display: flex;
  height: 144px;
  margin: 0;
  border: solid white 5px;
  border-radius: 20px;
}

aside figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 65%;
  padding-left: 15px;
}
aside h2 {
  margin: 0px;
  font-size: 20px;
}
aside h3 {
  padding-top: 5px;
  margin: 0;
}
aside span {
  margin-bottom: 5px;
}
aside p {
  margin-top: 7px;
}
.title_pop #la {
  display: flex;
}

.laa {
  width: 15px;
}
/* Acivités*/
#activites_card article {
  border-radius: 20px;
  background-color: #f2f2f2;
  display: flex;
  flex: 50%;
  box-shadow: 0px 0px 20px 0px #666464;
}

#activites_card img {
  width: 100%;
  height: 389px;
  display: flex;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

#activites_card {
  display: flex;
  gap: 43px;
}
#activites_card figure {
  margin: 0;
}
#activites_card figcaption {
  text-align: center;
  font-size: 15px;
}
#activites {
  margin-top: 60px;
  width: 95%;
  margin: auto;
  margin-top: 50px;
}

/*footer*/
footer {
  background-color: #f2f2f2;
  margin: auto;
  margin-top: 61px;
  width: 95%;
}
.foot {
  display: flex;

  padding: 50px;
  margin-left: 25px;
}
.foot div {
  flex: 30%;
}
.foot li {
  padding-bottom: 12px;
  list-style-type: none;
}
.foot ul {
  padding: 0;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 1.7em;
  }

  #top {
    display: flex;
    flex-direction: column;
  }
  #hebe h3 {
    font-size: 15px;
  }
  .reg {
    flex: 0 auto;
  }
  #Filtre {
    gap: 20px;
  }
  aside {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .title_pop {
    flex: 100%;
  }
  aside article {
    flex: 20%;
    font-size: 13px;
  }
  #hebe article {
    font-size: 13px;
  }
  #hebe figcaption {
    margin-top: 4px;
  }

  #activites_card img {
    height: 211px;
  }
  .foot {
    gap: 80px;
  }
  .p3 {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.8em;
  }

  /*header*/
  header {
    width: 100%;
  }
  #ad {
    flex-direction: column;
    align-items: center;
  }
  .nav {
    border-top: 0;
    color: #f2f2f2;
    padding-top: 48px;
    border-bottom: solid 3px;
    padding-bottom: 23px;
    flex: 50%;
    justify-content: center;
    display: flex;
  }
  .nav:hover {
    border-top: none;
    border-bottom: solid 3px #0065fc;
  }
  #ad nav {
    width: 100%;
  }
  #ad ul {
    padding: 0;
    flex: 100%;
    gap: 0;
  }
  #ad a {
    display: flex;
    justify-content: space-evenly;
  }

  #trv {
    justify-items: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  /*recherche*/
  #submit_rech {
    display: none;
  }
  #submit_icone {
    display: block;
    width: 49px;
  }
  #barre_de_recherche {
    justify-content: center;
    width: auto;
  }
  input {
    width: auto;
  }
  .fa-solid.fa-info {
    align-items: baseline;
  }

  body {
    margin: 0;
    margin: auto;
    width: 100%;
  }
  /*filtre*/
  #Filtre {
    flex-wrap: wrap;
    gap: 17px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #titre_nav {
    flex: 100%;
  }

  #titre_nav h3 {
    margin: 0;
  }
  #trv {
    margin-top: 31px;
    flex: 100%;
    font-size: 12px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .p3 {
    margin-top: 43px;
    margin-bottom: 17px;
    margin-left: 15px;
  }
  .p3 .icone {
    margin-top: 0;
  }
  .p3 span {
    font-size: 16px;
  }

  /*top*/
  #top {
    margin: 0;
    width: 100%;
  }
  /*hebergement*/
  #hebe {
    order: 1;
    flex-direction: column;
    width: 95%;
    background-color: white;
    padding: 20px;
  }

  #plus {
    display: none;
  }
  #hebe article {
    margin: 0;
    width: 95%;
  }
  /*Populaire*/
  aside {
    flex-direction: column;
    padding: 20px;
  }
  aside article {
    font-size: 15px;
  }
  /*Activités*/
  #activites {
    margin: auto;
    width: 100%;
  }
  #activites h2 {
    padding-left: 20px;
  }
  #activites_card {
    flex-direction: column;
    padding: 20px;
    margin: auto;
  }
  #activites_card img {
    height: 150px;
    object-position: 0px 20%;
  }
  #fort {
    object-position: 0px 42% !important;
  }
  /*footer*/
  footer {
    margin: 0;
    width: 100%;
  }
  .foot {
    flex-direction: column;
    padding-left: 0;
    gap: 0;
    padding: 30px;
    padding-top: 45px;
    margin-top: 80px;
    margin-left: 0px;
  }
}
