body{ 
   background-color: rebeccapurple;
   font-family: Raleway;
   font-size: 16px;
   font-weight: 700;
   line-height: 19px;
   letter-spacing: 0em;
   text-align: left;   
   position: relative;
   width: 1440px;
   height: 1884px;
}
h1{
   font-family: Raleway;
   font-size: 22px;
   font-weight: 700;
   line-height: 26px;
   letter-spacing: 0em;
   text-align: left;
}
h2{
  
   font-family: Raleway;
   font-size: 16px;
   font-weight: 700;
   line-height: 19px;
   letter-spacing: 0em;
   text-align: left;
}
.a6{
   position: absolute;
   left: 83.46%;
   right: 0%;
   top: 0%;
   bottom: 0%;
}

.a5{
   position: absolute;
   left: 36.22%;
   right: 34.12%;
   top: 0%;
   bottom: 0%;

}
section{
   display: flex;
}
.hebe{
   width: 880px;
   height: 626px;
   border-radius: 20px;
   background: #F2F2F2;
}
.mini{
   width: 246px;
   height: 199px;
   border-radius: 20px;
}